body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f8f9fa;
}

header h1 {
    font-family: "Arapey", serif;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:white;
}

nav a{
    text-decoration:none;
    margin-left:20px;
    color:black;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

.hero h2{
    font-size:40px;
}

.articles{
    display:flex;
    gap:20px;
    padding:40px;
}

.card{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}


@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    nav {
        margin-top: 15px;
    }

    nav a {
        margin: 0 10px;
    }

    .hero {
        padding: 50px 20px;
    }

    .hero h2 {
        font-size: 28px;
    }

    .articles {
        flex-direction: column;
        padding: 20px;
    }
}
